.blog-card {
  border: none !important;
  padding: 0 0 0 0 !important;
}

.post-info {
  margin-top: 10px;
  .post-type {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .post-type-engineering {
    color: #c3a6df !important;
    font-weight: bold;
  }

  .post-type-career {
    font-weight: bold;
    color: #4d9bf2;
  }

  .post-type-miscellanious {
    font-weight: bold;
    color: #5954b9;
  }

  .card-body {
    padding: 0 !important;
    font-size: 20px;
  }

  .card-title {
    margin-bottom: 8px;
  }

  .post-date {
    font-size: 16px;
    font-weight: 300;
    opacity: 0.5;
    margin-top: 8px;
  }
}

.disable::hover {
  cursor: default !important;
  a {
    cursor: default !important
  }
}


.single-card-container {
  a {
    color: inherit;
  }

  a:hover {
    text-decoration: none;
  }
}