#header {
  padding-top: 49px;
  padding-right: 7%;
  padding-left: 7%;
}

.header {
  background: #010001 !important;
  #header-brand {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    .link {
      color: #fff;
    }
  }

  .navbar-collapse {
    .navbar-nav {
      .link:hover {
        color: #fff !important;
        text-decoration: underline;
      }

      .header-link {
        opacity: 0.5;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;

        .link {
          color: #fff;
        }
      }
    }

  }
  .navbar-toggler {
    background: #FFF !important
  }
}

.header-white {
  #header-brand {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    color: #010001 !important;

    .link {
      color: #010001;
    }
  }
}