.nav-shadow {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  transition: box-shadow 0.3s ease-in-out;
}

#nav {
  background-color: #285172;

  .navbar-brand {
    color: white;

    &:hover {
      color: #2196f3;
    }
  }

  .nav {
    .nav-element {
      color: white;

      &:hover {
        color: #2196f3;
        text-decoration: none;
      }
    }
  }

  .container {
    #nav-link-container {
      display: flex;
      flex-direction: row;
      .nav-link-element {
        margin-left: 10px;
      }
    }
  }
  .scroll-link {
    &:hover {
      cursor: pointer;
    }
  }
}
