#nav {
  background-color: #285172;

  .navbar-brand {
    color: white;

    &:hover {
      color: #2196f3;
    }
    
  }

  .nav {
    .nav-element {
      color: white;
  
      &:hover {
        color: #2196f3;
        text-decoration: none;
      }
    }
  }
}
