.blog-card-container {
  margin-top: -34px;
  display: flex;
  a {
    color: #455065;
  }
  .blog-card {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
    background: white;
    width: 30%;
    min-height: 173px;
    font-weight: 400;
    text-decoration: none;
    margin-left: 25px;

    .card-icon {
      font-size: 25px;
      margin-bottom: 20px;
    }
    
    .card-title {
      font-size: 28px;
    }
    .card-excerpt {
      font-size: 14px;
    }
    .card-cta {
      margin-top: auto;
    }
  }
}
